# -----------------------------
# Node / React Native / Expo
# -----------------------------
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated native folders
/ios
/android

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Python environments
venv/
.env

# -----------------------------
# ML models
# -----------------------------
*.pkl

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Databases
# -----------------------------
*.db

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# TypeScript
# -----------------------------
*.tsbuildinfo